body {
  font-family: Arial;
  text-align: center;
  background: linear-gradient(to right, #74ebd5, #9face6);
  margin: 0;
  padding: 20px;
}

h1 {
  color: white;
}

/* Buttons */
button {
  padding: 10px 15px;
  margin: 5px;
  border: none;
  border-radius: 20px;
  background: white;
  cursor: pointer;
}

button:hover {
  background: #4a90e2;
  color: white;
}

/* Products */
.products {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 20px;
}

/* Cards */
.card {
  background: white;
  padding: 20px;
  width: 150px;
  border-radius: 10px;
}

/* Hide */
.hide {
  display: none;
}