body {
  font-family: Arial;
  text-align: center;
  background: #f4f4f4;
}

.container {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
}

.card {
  background: white;
  padding: 15px;
  border-radius: 10px;
  width: 180px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.card img {
  width: 100%;
}

button {
  padding: 8px;
  border: none;
  background: green;
  color: white;
  cursor: pointer;
  margin-top: 10px;
}